.navbar {
    background-color: var(--navbar-color);
}

.navbar a {
    color: var(--text-color);
    font-family: "Knewave", system-ui; 
}

.navbar a:hover {
    color: var(--text-color-secondary);
}

.form-check-input:checked {
    background-color: #fdbf00; /* Cor do switch ativo */
}