* {
    transition: 0.5s;
}

:root {
    --background-color: #121212;
    --navbar-color: rgb(30, 30, 30);
    --text-color: lightgrey;
    --text-color-secondary: darkgrey;
}

body {
    background-color: var(--background-color) !important;
    color: var(--text-color) !important;
}