<div class="d-flex flex-wrap justify-content-center align-items-center py-5">
    <div class="card text-bg-dark mb-3 me-3 col-sm-4 mb-5" data-bs-toggle="modal" data-bs-target="#staticBackdrop" style="max-width: 18rem;">
        <div class="card-header">Header</div>
        <div class="card-body">
            <h5 class="card-title">Dark card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
</div>