.card {
    width: 300px;
    height: 150px;
    color: var(--text-color) !important;
    background-color: var(--navbar-color) !important;
    border-radius: 10px;
}

.card:hover {
    cursor: pointer;
    transform: scale(1.01) rotate(1deg);
}

.card:active {
    transform: scale(0.8) rotate(0deg);
}